body {
  background-color: white;
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #FBFBFB, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #FBFBFB, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #FBFBFB, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #FBFBFB, white); /* Standard syntax */

  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
